<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] %>
    <p class="flash notice"><%= flash[:notice] %></p>
  <% elsif flash[:alert] %>
    <p class="flash alert"><%= flash[:alert] %></p>
  <% end %>
  <header>
    <h1><%= link_to "CrowdFunder", root_url %></h1>
    <nav> 
      <% if current_user %>
        <%= link_to "Logout", :logout, method: :post %>
      <% else %>
        <%= link_to "Register", new_user_path %> |
        <%= link_to "Login", :login %>
      <% end %>
    </nav>
  </header>
  <main>
    <article>
      <%= yield %>
    </article>
  </main>
</body>
</html>
